.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  transition: opacity .4s linear;
}

.footer__column-link:not(:last-child) {
  margin-right: 18px;
}

.footer__column-link:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .footer__column-link {
    font-size: 24px;
    line-height: 100%;
  }

  .footer__column-link:not(:last-child) {
    margin-bottom: 32px;
  }

  .footer__column-link:last-child{
    margin-bottom: 48px;
  }
}
