.intro {
  min-width: 984px;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    min-width: 768px;
    padding: 88px 24px 0 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    min-width: 320px;
    padding: 64px 16px 0 16px;
    box-sizing: border-box;
  }
}

