.cover__overlay {
  background: rgba(42, 44, 47, .3) no-repeat;
  min-width: 100%;
  min-height: 740px;
  background-position: center ;
  background-size: cover;
  transition: opacity 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, .8) no-repeat;;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-width: 100%;
    min-height: 200px;
  }
}
