.place__url-heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    min-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
